/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #353430;
  --main-title-color: #ffc2e6;
  --section-title-color: #353430;
  --accented-title-color: #353430;
  --accented-title-bg-color: #ff8dcb;
  --decor-color: #353430;
  --accent-color: #ff8dcb;
  --button-border-transparent: rgba(50, 49, 45, 0.4);
  --bg-color: #fff1f7;
  --cover-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__twinkle {
  display: none;
}

@media (width >= 1024px) {
  .page.theme_light .header__title {
    --accent-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --accented-title-color: #353430;
    --accented-title-bg-color: #ff8dcb;
    --decor-color: #353430;
    --accent-color: #ff8dcb;
    --button-border-transparent: rgba(50, 49, 45, 0.4);
    --bg-color: #fff1f7;
    --cover-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .header__twinkle {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  .page.theme_auto .header__title {
    --accent-color: #ff0070;
  }
}