/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  inline-size: 100%;
  min-block-size: 100dvh;
  font-family: var(--font-family, Arial, Helvetica, sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-hight);
  color: var(--main-color);
  background-color: var(--bg-color);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ---------- ОФОРМЛЕНИЕ ДЛЯ ПОДЗАГОЛОВКОВ ---------- */

.title-decor {
  color: var(--accented-title-color);
  background-color: var(--accented-title-bg-color);
}

/* ---------- ССЫЛКИ ---------- */

a {
  text-shadow: 2px 2px 0 var(--link-decor-color);
  text-decoration: none;
}

a:hover {
  border-block-end: 1px solid var(--main-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--main-color);
}

/* ---------- ШАПКА САЙТА --------- */

.header {
  position: relative;
  min-block-size: max(100dvh, 668px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--section-padding);
}

/* ---------- ДЕКОРАТИВНЫЕ УГОЛКИ ---------- */

.decorated-zone {
  position: relative;
}

.decorated-zone:before {
  content: "";
  position: absolute;
  inset-block-end: var(--section-padding);
  inset-inline-start: var(--section-padding);
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.decorated-zone:after {
  content: "";
  position: absolute;
  inset-block-start: var(--section-padding);
  inset-inline-end: var(--section-padding);
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

/* ---------- ЛАМПОЧКА ---------- */

.header__twinkle {
  position: absolute;
  inset-block-start: var(--section-padding);
  inset-inline-end: var(--section-padding);
  color: var(--decor-color);
  text-transform: uppercase;
}

.header__twinkle::after {
  content: "";
  padding: 10px;
  margin: 0 4px;
  background-image: url(../images/twinkle-ellipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ---------- МЕНЮ ЦВЕТОВЫХ ТЕМ ---------- */

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

/* ---------- КНОПКИ ---------- */

.header__theme-menu-button {
  color: var(--decor-color);
  background-color: transparent;
  border: none;
  line-height: 1;
  padding: 4px 12px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

/* ---------- ЗАГОЛОВОК ШАПКИ ---------- */

.header__title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: calc(95.7 / 116);
}

/* ---------- ПОДЗАГОЛОВОК ШАПКИ ---------- */

.header__text {
  font-weight: 700;
}

/* ---------- АДАПТИВ ДЛЯ ШАПКИ ---------- */

@media screen and (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-inline-size: 50%;
    justify-self: end;
  }
}

@media screen and (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ---------- ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ ---------- */

.content {
  display: grid;
  gap: clamp(50px, 1.3359rem + 7.6336vw, 80px);
  padding: 0 var(--section-padding);
  margin: var(--content-margin-block) 0;
}

/* ---------- СЕКЦИИ КОНТЕНТА ---------- */

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-title {
  color: var(--section-title-color);
}

.content__section-cards-list {
  display: grid;
  gap: 20px;
}

.content__section-card {
  display: grid;
  gap: 10px;
}

.content__section-card-title {
  font-weight: 700;
}

.content__section-card-subtitle {
  font-weight: 400;
}

/* ---------- АДАПТИВ ДЛЯ КОНТЕНТА ---------- */

@media screen and (width >= 768px) {
  .content__section_2-col {
    grid-template-columns: 1fr 2fr;
    gap: 25px;
  }

  .content__section-title {
    max-inline-size: 236px;
  }
}

@media screen and (width >= 1024px) {
  .content__section_2-col {
    gap: 10px;
  }

  .content__section_3-col > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__section-title {
    max-inline-size: 315px;
  }
}

/* ---------- ГАЛЕРЕЯ ---------- */

.section__gallery {
  display: grid;
  gap: 10px;
}

.section__gallery-list {
  display: grid;
  gap: 10px;
}

.section__gallery-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (width >= 768px) {
  .section__gallery {
    gap: 20px;
  }

  .section__gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section__gallery-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }

  .section__gallery-item:nth-of-type(2) {
    grid-column-start: 3;
    grid-row: 1 / span 2;
  }

  .section__gallery-item:nth-of-type(3) {
    grid-row: 2 / span 2;
  }

  .section__gallery-item:nth-of-type(4) {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .section__gallery-item:nth-of-type(5) {
    grid-column: 2 / span 2;
  }
}

/* ---------- ПОДВАЛ ---------- */

.footer {
  min-block-size: max(668px, 100dvh);
  display: grid;
  place-content: center;
}

.footer__title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: calc(95.7 / 116);
}

@media screen and (width >= 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
